.custom_from .row+.row {
    margin-top: 1rem
}

.btn-group button.closed::after {
    content: "×";
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: -1px;
    right: 15%;
    bottom: -1px;
    font-weight: bold;
    color: rgb(204, 68, 68);
    pointer-events: auto;
    padding: 0px 6px;
    border: 1px solid var(--border-color-high);
    border-radius: 0px 3px 3px 0px;
}

.btn-group-custom {
    width: 100%;
    margin-top: 0.5rem;

}

.col-6 div:first-child {
    margin-top: 0;
}

.custom-hide {
    display: none;
}

.nav-link-save {
    color: #fff !important;
    background-color: #007bff !important;
}